<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.css}">
    <title>Disquera</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Disquera</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/index}">Inicio</a></li>
            <li><a th:href="@{/disquera/form}">Crear disquera</a></li>
            <li><a th:href="@{/disquera}">Disqueras</a></li>
          </ul>
        </div>
    </nav>
      <div class="card red lighten-4 red-text text-darken-4" th:if="${disquera.size() == 0}">
        <div class="card-content">
          <p><i class="material-icons">report</i><b>Error: </b>No se han encontrado disqueras</p>
        </div>
      </div>
    <table>
      <thead>
        <th class="col s1">Id</th>
        <th class="col s1">Nombre</th>
        <th class="col s1">Telefono</th>
        <th class="col s1">Direccion</th>
        <th class="col s1">NIT</th>
        <th class="col s1">Estado</th>
        <th class="col s1">Modificar</th>
        <th class="col s1">Eliminar</th>
      </thead>
      <tbody>
        <tr th:each="d:${disquera}" th:if="${disquera.size > 0}">
          <td th:text="${d.getIdDisquera}"></td>
          <td th:text="${d.getNombreDisquera}"></td>
          <td th:text="${d.getTelefonoDisquera}"></td>
          <td th:text="${d.getDireccionDisquera}"></td>
          <td th:text="${d.getNitDisquera}"></td>
          <td th:if="${d.getEstadoDisquera==true}" class="green-text">Activo</td>
          <td th:if="${d.getEstadoDisquera==false}" class="red-text">Inactivo</td>
          <td><a class="btn yellow" th:href="@{/disquera/editar/}+${d.getIdDisquera}"><i class="material-icons">build</i></a></td>
          <td><a class="btn red" th:href="@{/disquera/delete/}+${d.IdDisquera}" onclick="/* alertaBorrar(event,'${g.id}','genero') */"> <i class="material-icons">delete_forever</i></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>