<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="@{/js/Alertas.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.css}">
    <title>Albums</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Albums</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/index}">Inicio</a></li>
            <li><a th:href="@{/album/form}">Crear Album</a></li>
            <li><a th:href="@{/album}">Album</a></li>
          </ul>
        </div>
      </nav>
        <div th:if="${album.size() == 0}" class="card red lighten-4 red-text text-darken-4" >
          <div class="card-content">
            <p><i class="material-icons">report</i><b>Error: </b>No se han encontrado albums</p>
          </div>
        </div>
      <table>
        <thead>
          <th>Id</th>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Genero</th>
          <th>Estado</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr th:if="${album.size > 0}" th:each="a:${album}">
            <td th:text="${a.getIdAlbum}"></td>
            <td th:text="${a.getNombreAlbum}"></td>
            <td th:text="${a.getAnoAlbum}"></td>
            <td th:text="{a.ge}"></td>
            <td th:if="${a.getEstadoAlbum==true}" class="green-text">Activo</td>
            <td th:if="${a.getEstadoAlbum==false}" class="red-text">Inactivo</td>
            <td th:if="${a.getEstadoAlbum==true}" class="red btn"><a class="white-text" >Desactivar</a></td>
            <td th:if="${a.getEstadoAlbum==false}" class="green btn"><a class="white-text">Activar</a></td>
            <td><a class="btn yellow" th:href="@{/album/editar/}+${a.getIdAlbum}"><i class="material-icons">build</i></a></td>
            <td><a class="btn red" th:href="@{/album/delete/}+${a.IdAlbum}" onclick="/* alertaBorrar(event,'${g.id}','album') */"> <i class="material-icons">delete_forever</i></a></td>
          </tr>
          </tbody>
      </table>
</body>
</html>